<h2>Hi <%=name %></h2>
<p>Your password reset token here. This is valid only for 10 minutes ⏰</p>
<p>send patch a request bellow url with password and passwordConfirm</p>
<p style="font-weight: bold"><%=url %></p>
